<div class="pacientes-container">
    <h2>Pacientes</h2>
    <button mat-raised-button color="primary" (click)="openAgregarPacienteModal()">Agregar Paciente</button>
    <table mat-table [dataSource]="pacientes">
        <!-- Columna Nombre Completo -->
        <ng-container matColumnDef="nombreCompleto">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.nombreCompleto }}</td>
        </ng-container>

        <!-- Columna Email -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let paciente">{{ paciente.email }}</td>
        </ng-container>

        <!-- Columna Foto -->
        <ng-container matColumnDef="rutaFoto">
            <th mat-header-cell *matHeaderCellDef>Foto</th>
            <td mat-cell *matCellDef="let paciente">
                <button mat-icon-button (click)="abrirFoto(paciente)">
                    <mat-icon>photo</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let paciente">
                <button mat-icon-button (click)="editarPaciente(paciente)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="eliminarPaciente(paciente.idPaciente)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <!-- Definición de filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalPacientes" [pageSize]="pageSize" (page)="cambiarPagina($event)">
    </mat-paginator>
</div>