.pacientes-container {
    h2 {
        text-align: center;
        color: #2c3e50;
        margin-bottom: 1.5rem;
    }

    table.mat-mdc-table {
        width: 100%;

        .mat-column-nombreCompleto {
            width: 40%;
        }

        .mat-column-email {
            width: 30%;
        }

        .mat-column-foto,
        .mat-column-acciones {
            width: 15%;
            text-align: center;
        }

        td,
        th {
            padding: 12px !important;
            text-align: left;
        }
    }

    // Aplicando estilos al botón "Agregar Paciente"
    .pacientes-container button.mat-raised-button[color="primary"]:not(.mat-button-toggle-group) {
        background-color: #4CAF50;
        color: white;
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

        &:hover {
            background-color: #45a049;
        }

        &:focus {
            outline: none;
            box-shadow: 0 0 5px 2px rgba(0, 123, 255, 0.5);
        }
    }

    mat-paginator,
    .mat-mdc-table {

        .mat-mdc-paginator-range-label,
        .mat-column-valor {
            text-align: right !important;
            font-family: monospace;
            color: #475569;
        }
    }
}